<div class="login-form">
    <h2>Login</h2>
    <b>Username</b><br />
    <form method="POST" action="login.php" autocomplete="off">
      <input type="text" name="username" /><br /><br />
      <b>Password</b><br />
      <input type="password" name="password" /><br /><br />
      <input type="submit" class="login-btn" value="Login" name="login-form">
    </form>
    <hr />
    You dont have an account yet?<br />
    <a href="https://forum.twisted-gamers.net">Register your account</a>
</div>
