body{

	background: url('img/bg-body.png') no-repeat;
	background-position: center;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

.login-layer{
	background: #242129;
	font-family: "Open sans";
	color: #fff;
	font-size: 13px;
	padding: 0 10px 10px 10px;
	width: 50%;
	height: auto;
	top: 40px;
	right: 5%;
	z-index: 9999;
	box-shadow: 0 0 2px rgba(0,0,0,.5);
	text-align: left;
	font-weight: 400 !important;
  top: 50%;
  left: calc(50%);
  transform: translate(-50%, -50%);
  position: absolute;
}

.login-layer h1{
	margin-top: 0;
	margin-bottom: 10px;
	background: #2C2833;
	box-shadow: 0 1px 1px rgba(0,0,0,.5);
	font-size: 16px;
	padding: 5px;
	text-align: center;
	position: realtive;
	margin-left: -10px;
	width: calc(100% + 10px);
}

.login-layer input{
	background: #1C1A1F;
	border: 0 none !important;
	box-shadow: 0 0 1px rgba(0,0,0,.5) inset;
	outline: 0;
	font-size: 13px;
	font-family: "Open Sans";
	width: calc(100% - 10px);
	padding: 5px 5px;
	color: #fff;
}

.login-layer input[type="submit"]{
	 background: #ff8313;
	 padding: 12px 10px;
	 width: calc(100% - 10px);
	 border-radius: 20px;
	 color: #fff;
	 border: 0 none !important;
	 outline: 0;
	 transition: all 0.3s linear;
 	-webkit-transition: all 0.3s linear;
 	-moz-transition: all 0.3s linear;
}

.login-layer input[type="submit"]:hover{
	background: #FC993F;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
}

.notify{
  padding: 10px;
  font-family: "Open Sans";
  color: #fff;
}

.notify-green{
  background: #94C953;
}

.notify-red{
  background: #D15C68;
}
