/**


**/

body{

	background: url('img/bg-body.png') no-repeat;
	background-position: center;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	scrollbar-base-color: #2C2833;
	scrollbar-face-color: #2C2833;
	scrollbar-3dlight-color: transparent;
	scrollbar-highlight-color: transparent;
	scrollbar-track-color: #ff8313;
	scrollbar-arrow-color: transparent;
	scrollbar-shadow-color: transparent;
	scrollbar-dark-shadow-color: transparent;
	overflow-x: hidden !important;
}


::-webkit-scrollbar{
	width: 10px;
	z-index: 0;
}

::-webkit-scrollbar-track{
	background-color: #ff8313;
}

::-webkit-scrollbar-thumb{
	background-color: #2C2833;
}

a{
	outline: 0;
	text-decoration: none !important;
}

#main-navigation{
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	font-family: "Open Sans";
	position: fixed;
	z-index: 1;
}

#main-navigation .user-navigation{
	font-size: 14px;
	height: 25px;
	background: #2C2833 !important;
	color: #fff;
	width: 90%;
	padding: 5px 5%;
	padding-top: 9px;
	display: inline-block;
	list-style-type: none;
	white-space: nowrap;
	text-align: right;
	box-shadow: 0 0 2px rgba(0,0,0,.5);
}

#main-navigation .user-navigation .user-name{
	right: 5%;
	position: absolute;
	list-style-type: none;
}

#main-navigation .user-navigation .user-name .user-subnav{
	position: relative;
	width: 100%;
	padding: 0;
	background: #2C2833;
	white-space: nowrap;
	left: 0;
	top: -3px;
	z-index: 999;
	display: none;
	right: 5%;
}

#main-navigation .user-navigation .user-name .user-subnav li{
	padding: 10px 15px;
	margin-left: 0;
	list-style-type: none;
	white-space: nowrap;
	text-align: left;
}

#main-navigation .user-navigation .user-name:hover{cursor: pointer;}

#main-navigation .user-navigation .user-name .user-subnav li a{
	color: #fff;
}

#main-navigation .user-navigation .user-name:hover .user-subnav, #main-navigation .user-navigation .user-name .user-subnav:hover{
	display: block;
}

#main-navigation .user-navigation .user-name .user-subnav li:hover{
	background: #ff8313;
	cursor: pointer;
}


#main-navigation .navigation{
	background: #242129;
	padding: 15px 5%;
	width: 90%;
	height: 50px;
	box-shadow: 0 0 2px rgba(0,0,0,.5);
}

#main-navigation .navigation a{
	text-decoration: none;
	outline: 0;
	margin-top: 5px;
	position: relative;
}

#main-navigation .navigation .tg-logo img{
	opacity: 1;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	margin-top: 5px;
}

#main-navigation .navigation a:hover img{
	cursor: pointer;
	opacity: 0.5;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}

#main-navigation .navigation .dropdown-nav{
	float:right;
	text-align: left;
	display: inline-block;
	font-family: "Open Sans";
	color: rgba(255, 255, 255, .5);
	white-space: nowrap;
	position: relative;
	top: -30px;
}

#main-navigation .navigation .dropdown-nav li{
	list-style-type: none;
	white-space: none;
	display: inline-block;
	padding: 29px 35px 30px 35px;
	font-size: 15px;
	position: relative;
	margin: 0;
	background: transparent;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}

#main-navigation .navigation .dropdown-nav li:hover{
	background: #ff8313;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}

#main-navigation .navigation .dropdown-nav li:hover a{
	color: #fff;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}

#main-navigation .navigation .dropdown-nav li a{
	text-decoration: none;
	color: rgba(255, 255, 255, .5);
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	padding-bottom: 10px;
	width: inherit;
	height: inherit;
}

#main-navigation .navigation .dropdown-nav li a:hover{
	color: #fff;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}

#main-navigation .navigation .dropdown-nav li:hover .dropdown-sub, #main-navigation .navigation .dropdown-nav li .dropdown-sub:hover{
	display: block;
}

#main-navigation .navigation .dropdown-nav li .dropdown-sub{
	position: absolute;
	padding: 0;
	background: #242129;
	display: none;
	white-space: nowrap;
	min-width: inherit !important;
	left: 0;
	top: 79px;
	left: 0;
	box-shadow: 0px 0px 1px rgba(0,0,0,.5);
}

#main-navigation .navigation .dropdown-nav li .dropdown-sub li{
	list-style-type: none;
	white-space: nowrap;
	display: block;
	margin: 0;
	color: #fff;
	padding: 15px 10px;
}

#main-navigation .navigation .dropdown-nav li .dropdown-sub li a{
	text-decoration: none !important;
	color: #fff;
	width: inherit;
	height: inherit;
}

#main-navigation .navigation .dropdown-nav li .dropdown-sub li:hover{
	background: #ff8313;
	width: auto;
	cursor: pointer;
}

#main-navigation .navigation .dropdown-nav li .dropdown-sub li:after{
	content: "";
}

#main-body{
	width: 90%;
	padding: 0 5%;
	margin-top: 180px;
	position: relative;
	font-family: "Open Sans";
	z-index: 0;
	overflow: hidden;
}

.row-70{
	width: 75%;
	float: left;
	min-height: 500px;
}

.row-30{
	width: 23%;
	margin-left: 2%;
	float: left;
}

.fluid-50{
	width: 46% !important;
	padding: 0;
	float: left;
}

.fluid-70{
	width: 68%;
	float: left;
}

.fluid-70{
	padding-right: 1%;
	margin-right: 1%;
	border-right: 1px solid rba(0,0,0,0.3);
}

.fluid-50:nth-child(even){
	padding-right: 4%;
	margin-right: 3%;
	border-right: 1px solid rgba(0,0,0,.3);
}

.fluid-30{
	margin-left: 1%;
	width: 25%;
	float: left;
}


.news-box{
	margin-bottom: 10px;
	background: #242129;
	box-shadow: 0 0 1px rgba(0,0,0,.5);
	padding: 10px;
	font-size: 13px;
	color: #fff;
	padding-top: 0;
	margin-bottom: 20px;
	padding-bottom: 20px;
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden !important;
}

.news-box h1{
	position: relative;
	left: -10px;
	top: -10px;
	width: calc(100%);
	background: #2C2833;
	color: #fff;
	font-size: 17px;
	padding: 10px 0 10px 20px;
	text-align: left;
	font-weight: 400;
	box-shadow: 0px 1px 1px rgba(0,0,0,.5);
}

.news-box h1 .news-date{
	position: relative;
	float: right;
	background: #ff8313;
	color: #fff;
	font-family: "Open Sans";
	font-size: 12px;
	border-radius: 20px;
	padding: 5 15px;
	margin-right: 10px;
	margin-top: -3px;
}

.news-box h2, .news-box h3{
	font-weight: 400;
	font-size: 15px;
}

.news-box a{
	text-decoration: none;
	border-radius: 20px;
	padding: 2px 5px;
	color: #ff8313;
	outline: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

.viewer-box{
	position: relative;
	padding: 10px;
	background: #242129;
	color: #fff;
	font-family: "Open Sans";
	padding-top: 0;
	margin-bottom: 20px;
	margin-top: -10px;
	width: calc(100% - 20px);
	font-size: 13px;
	max-height: 350px;
}

.viewer-box h1{
	position: relative;
	left: -10px;
	width: 100%;
	background: #2C2833;
	color: #fff;
	font-size: 15px;
	padding: 10px 0 10px 20px;
	text-align: left;
	font-weight: 400;
	box-shadow: 0px 1px 1px rgba(0,0,0,.5);
	margin-bottom: 15px;
}

.viewer-box hr{
	height: 1px;
	border: 0 none !important;
	box-shadow: 0 0 1px rgba(0,0,0,.6) inset;
	margin-top: 15px;
	margin-bottom: 15px;
}

.viewer-box .user-list{
	display: block;
	overflow-y: auto;
	max-height: 150px;
}

.viewer-box .user-list li{
	list-style-type: none;
	background: transparent;
	color: #fff;
	padding: 5px 10px;
}

.viewer-box .user-list li:nth-child(even){
	background: rgba(0,0,0,.2);
}

.webadmin-list{
	width: 15%;
	padding: 5px;
	background: transparent;
	height: 250px;
	float: left;
	margin-left: calc(5% - 20px);
}

.webadmin-list li{
	list-style-type: none;
	background: transparent;
	color: #fff;
	padding: 5px 10px;
	background: rgba(0,0,0,.1);
	padding-bottom: 8px;
	position: relative;
}

.webadmin-list li:nth-child(even){
	background: rgba(0,0,0,.2);
}

.webadmin-useraction{
	width: 100%;
	padding: 10px;
	display: none;
}



.status{
	border-radius: 20px;
	font-size: 13px;
	background: transparent;
	padding: 2px 10px;
	color: #fff;
	background: #272727;
	text-decoration: none !important;
	outline: 0;
	border: 0 none !important;
}

.status-red{
	background: #C94040;
	color: #fff;
}

.status-green{
	background: #6AAB50;
	color: #fff;
}

.status-orange{
	background: #ff8313;
}

.status-blue{
	background: #73B4F5;
}

.status-lila{
	background: #2C2833;
}

.status-big{
	font-size: 14px;
	padding: 7px 15px;
	width: calc(100% - 30px);
	min-width: 150px;
}

.login-form{
	background: #242129;
	font-family: "Open sans";
	color: #fff;
	font-size: 13px;
	padding: 0 10px 10px 10px;
	width: 250px;
	height: auto;
	position: absolute;
	top: 40px;
	right: 5%;
	z-index: 9999;
	box-shadow: 0 0 2px rgba(0,0,0,.5);
	text-align: left;
	font-weight: 400 !important;
	display: none;
}

.login-form h2{
	margin-top: 0;
	margin-bottom: 10px;
	background: #2C2833;
	box-shadow: 0 1px 1px rgba(0,0,0,.5);
	font-size: 14px;
	padding: 5px;
	text-align: center;
	position: realtive;
	margin-left: -10px;
	width: calc(100% + 10px);
}

.login-form input, input[type="text"], input:-webkit-autofill{
	background: #1C1A1F;
	border: 0 none !important;
	box-shadow: 0 0 1px rgba(0,0,0,.5) inset;
	outline: 0;
	font-size: 13px;
	font-family: "Open Sans";
	width: calc(100% - 10px);
	padding: 5px 5px;
	color: #fff;
}

.login-form input[type="submit"]{
	 background: #ff8313;
	 padding: 12px 10px;
	 width: calc(100% - 10px);
	 border-radius: 20px;
	 color: #fff;
	 border: 0 none !important;
	 outline: 0;
	 transition: all 0.3s linear;
 	-webkit-transition: all 0.3s linear;
 	-moz-transition: all 0.3s linear;
}

.login-form input[type="submit"]:hover{
	background: #FC993F;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
}

.login-form a{
	color: #FC993F;
	text-decoration: none;
	outline: 0;
}

.login-form hr{
	background: #1C1A1F;
	color: #1C1A1F;
}

.notify{
  padding: 10px;
  font-family: "Open Sans";
  color: #fff;
}

.notify-green{
  background: #94C953;
	color: #3F660E;
}

.notify-red{
  background: #D15C68;
	color: #961B28;
}

.notify-blue{
	background: #73B4F5;
	color: #2768A8;
}

.teamlist-box{
	max-height: fit-content !important;
}

table{
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

table thead tr td{
	margin-top: 0;
	margin-bottom: 10px;
	background: #2C2833;
	box-shadow: 0 1px 1px rgba(0,0,0,.5);
	font-size: 16px;
	padding: 15px;
	text-align: center;
	position: realtive;
	color: #fff;
}

table tbody tr td{
	background: transparent;
	padding: 15px;
	font-size: 15px;
	color: #fff;
}

table tbody tr td img{
	position: absolute;
	margin-left: -45px;
	margin-top: -7px;
}

.teamlist tbody tr td:first-child{
	padding-left: 60px;
}

table tbody tr:nth-child(odd) td{
	background: rgba(0, 0, 0, .3);
}

.orange-table{
	background: #ff8313 !important;
	text-align: left;
	width: calc(100% - 20px);
	padding: 10px;
	margin-bottom: 0;
	margin-top: 0;
}

.servertracker{
	display: inline-block;
	white-space: nowrap;
	width: calc(100% - 7%) !important;
	margin: 0;
	padding: 0 3.04%;
	overflow-x: hidden !important;

}

.servertracker li{
	list-style-type: none;
	display: inline-block;
	white-space: nowrap;
	font-size: 14px;
	margin: 0 !important;
	padding: 10px 0;
	text-align: center;
}

.servertracker-title{
	background: rgba(0,0,0,.5);
}
.servertracker:nth-child(even){
	background: rgba(0,0,0,.3);
}

.servertracker li:first-child{
	width: 25%;
}

.servertracker li:nth-child(2){
	width: 15%;
}
.servertracker li:nth-child(3){
	width: 15%;
}
.servertracker li:nth-child(4){
	width: 15%;
}
.servertracker li:nth-child(5){
	width: 15%;
}
.servertracker li:nth-child(6){
	width: 15%;
}

.rounded-image{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	position: relative;
	margin-top: -10px;
}

.rounded-image-team{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	position: relative;
	margin: 0 auto;
}

.donator-progress{
	background: rgba(0,0,0,.4);
	border-radius: 20px;
	padding: 3px;
	box-shadow: 0 0 1px rgba(0,0,0,.3) inset;
	height: 20px;
	width: inherit;
}

.donator-progress .donator-fill{
	border-radius: 20px;
	height: 100%;
	background: #ff8313;
}

.center-align{
	text-align: center;
}

.center-align:first-child{
	margin-left: -15px;
}

.first-fix{
	position: relative;
	paddin-left: 15px !important;
}

#room-selector{
	border: 0 none;
	background: #ff8313;
	color: #fff;
	font-family: "Open Sans";
	outline: 0;
	padding: 8px 10px;
}

#room-selector option{
	outline: 0;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	outline: 0 !important;
}

#mta-message{
	background: rgba(0,0,0,.2);
	border: 1px solid rgba(0,0,0,.4);
	color: #fff;
	font-size: 13px;
	font-family: "Open sans";
	width: calc(80% - 10px);
	float: left;
	min-height: 250px;
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 5px;
}

#mta-message li{
	list-style-type: none;
}

.ul-50 li{
	width: 50% !important;
	text-align: center !important;
}

.server-console{
	padding: 10px;
	background: rgba(0,0,0,.3);
	max-height: 350px;
	overflow-y: auto;
}

.status-console{
	float: right;
	width: 400px;
	padding: 15px;
	text-align: right;
}
