.custom-statusbar{
border-top: 1px solid #394F61;
padding: 5px 0px 5px 4px;
width: 700px;
}
.odd
{
	background-color:#EDEBEB;
}
.even
{
	background-color:#FFFFFF;
}

.custom-filename {
display: inline-block;
width: 230px;
margin: 0 5px 0px 0px;
color: #807579;
vertical-align: middle;
}
.custom-preview
{
	display:inline-block;
	vertical-align:middle;
	border:1px solid #C7CCD1;
}
.custom-progress {
margin: 0 10px 0px 10px;
position: relative;
width: 250px;
border: 1px solid #ddd;
padding: 1px;
border-radius: 3px;
display: inline-block;
vertical-align:middle;
color:#FFFFFF;
}
.custom-bar {
background-color: #337AB7;
width: 0;
height: 20px;
border-radius: 3px;
color:#FFFFFF;
display: inline-block;
vertical-align:middle;
margin:0px;
}
.custom-percent {
position: absolute;
display: inline-block;
top: 3px;
left: 48%
}
.custom-red {
-moz-box-shadow: inset 0 39px 0 -24px #e67a73;
-webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
box-shadow: inset 0 39px 0 -24px #e67a73;
background-color: #e4685d;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
display: inline-block;
color: #fff;
font-family: arial;
font-size: 13px;
font-weight: normal;
padding: 4px 15px;
text-decoration: none;
text-shadow: 0 1px 0 #b23e35;
cursor: pointer;
vertical-align: middle;
margin-right:5px;
}
.custom-green {
background-color: #77b55a;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
margin: 0;
padding: 0;
display: inline-block;
color: #fff;
font-family: arial;
font-size: 13px;
font-weight: normal;
padding: 4px 15px;
text-decoration: none;
cursor: pointer;
text-shadow: 0 1px 0 #5b8a3c;
vertical-align: middle;
margin-right:5px;
}
.ajax-file-upload {
	font-family: "Open Sans";
	font-size: 16px;
  font-weight: bold;
	padding: 15px 20px;
	cursor:pointer;
	line-height:20px;
	height:25px;
	margin:0 10px 10px 0;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 6px 10px 4px 10px;
  color: #fff;
  border: none;
  vertical-align:middle;
	background: transparent;
	background: #ff8313;
	box-shadow: 0 0 1px rgba(0,0,0,.3);
	font-weight: 400;
  }

	.ajax-file-upload input{
		background: #ff8313;
	}

.ajax-upload-dragdrop
{
	color: #fff;
	text-align:left;
	vertical-align:middle;
	padding:10px 5px 0px 5px;
	font-weight: 400 !important;
	background: #ff8313;
	box-shadow: 0 0 1px rgba(0,0,0,.3);
	float: right;
}

.ajax-file-upload form input[type="file"]{
	width: 200px !important;
	padding: 10px 15px;
	float: right;
	position: relative;
	background: #000;
}

form{
	width: 200px !imprtant;
}

.ajax-upload-dragdrop span:first-child{
	display: none;
}

.state-hover
{
		border:2px solid #A5A5C7;
}
.custom-container
{
	margin:20px 0px 20px 0px;
}

#fileuploader{
	padding: 0 10px;
	padding-left: 0;
}

.ajax-file-upload-container{
	font-family: "Open Sans";
	color: #fff;
}
.ajax-file-upload-container .ajax-file-upload-statusbar{padding: 10px; width: calc(100% - 20px) !important; background: rgba(0,0,0,.1);}
.ajax-file-upload-container .ajax-file-upload-statusbar:nth-child(odd){
	background: rgba(0,0,0,.3);
	width: calc(100% - 20px) !important;
	padding: 10px;
}

.ajax-file-upload-progress{
	border-radius: 20px;
	width: 250px;
	height: 5px;
	background: rgba(0,0,0,.2);
	float: right;
	position: relative;
	margin-top: -10px;
}

.ajax-file-upload-progress .ajax-file-upload-bar{
	background: #ff8313;
	height: inherit;
	border-radius: 20px;
}
